.main-grid {
    display: grid;
    grid-gap: 10px 15px;
    grid-template-columns: 100%;
}

.main-grid > * {
    background: var(--background);
    padding: 5px;
    border: 5px solid var(--border-color);
    border-radius: 10px;
}

.main-grid header p {
    color: var(--additional)
}

.main-grid header hr {
    border-color: var(--border-color)
}

.main-tab-block > input {
    display: none;
}

.main-tab-block{
    display: grid;
    grid-template-areas:
            "space-start tab-dep tab-dept tab-files space-end";
    /*grid-template-rows: 1fr 1fr;*/
    /*grid-template-columns: 0 auto auto auto 0;*/
    justify-content: space-between !important;
    grid-row-gap: 5px;
}

.main-tab-block > label{
    display: inline-grid;
    grid-template-areas: "content" "underline";
    justify-items: center;
    margin: 0;
}

.main-tab-block > label::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
}

.main-tab-block > input:checked + label::after {
    width: 100%;
    border-bottom-color: var(--highlight-max);
}

.main-tab-block > label:hover::after {
    width: 100%;
    border-bottom-color: var(--spare);
}

#main-files > nav {
    border: var(--border-color) solid;
    border-width: 5px 0;
    padding: 5px 0;
    margin: 5px 0;
    grid-column: space-start / space-end;
}

.main-tab-content {
    display: inline-grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    grid-column: space-start / space-end;
    /*grid-column: 5 span;*/
    --items: 3;
    align-items: start;
}

.main-tab-content > div {
    transition: 250ms linear;
    max-height: 0;
    opacity: 0;
    transform: translateX(calc(-100% * (var(--position) - 1)));
}

#main-tab-dependencies:checked~section {
    --position: 1;
}
#main-tab-dependent:checked~section {
    --position: 2;
}
#main-tab-files:checked~section {
    --position: 3;
}

#main-tab-dependencies:checked~section>#main-dependencies,
#main-tab-dependent:checked~section>#main-dependent,
#main-tab-files:checked~section>#main-files {
    max-height: unset;
    opacity: 1;
}