.global-menu-variables {
    --menu-height: 50px;
    --menu-padding: 5px;
}

body {
    margin: 0;
    color: var(--default) !important;

}

.global-fixed {
    display: grid;
    min-height: 100%;
    min-width: 100%;
    grid-template-rows: var(--menu-height) auto;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
            "menu menu menu"
            "left-menu front-menu right-menu";
    overflow: hidden;
    position: fixed;
    pointer-events: none;
    z-index: 100;
}

.global-fixed-menu {
    box-sizing: content-box;
    pointer-events: all;
    grid-column: left-menu / right-menu;
    display: inline-grid;
    grid-template-columns: 10% 1fr[themes] 0 1fr[projects] 0 1fr[user] 10%;
    grid-template-rows: var(--menu-height);
    position: relative;
    width: 100%;
    height: var(--menu-height);
    justify-items: center;
    align-items: center;
    padding-top: var(--menu-padding);
    padding-bottom: var(--menu-padding);
    background-color: rgba(0, 0, 0, 0.3);
}

.global-header {
    grid-area: global-header;
}

.global-fixed-menu > span:nth-of-type(odd) {
    /*display: inline;*/
}

.global-fixed-menu > span:nth-of-type(even) {
    border: solid var(--highlight) 0.1px;
    height: 80%;
    width: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.global-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: calc(var(--menu-height) + 2 * var(--menu-padding)) auto 200px;
    grid-template-areas:
        "global-header"
        "global-main"
        "global-footer";
    background-color: var(--background2);
}

.global-main {
    grid-area: global-main;
    margin: 10px 15%;
    /*background: url("https://cdn.betterttv.net/emote/5e2cef19bca2995f13fc226b/3x");*/
    /*background: url("https://cdn.betterttv.net/emote/59f06613ba7cdd47e9a4cad2/3x");*/
    /*height: 1000px;*/
}

.global-footer {
    grid-area: global-footer;
    margin: 20px;
}

.global-fixed strong {
    color: var(--highlight)
}

/*region logistic*/


#global-middle > input[type=checkbox], #global-middle > input+div {
    display: none;
}

#global-middle > input:checked+*{
    display: grid;
    pointer-events: all;
}

.dialog-background {
    display: grid;
    background: rgba(7, 7, 7, 0.5);
    margin-top: 10px;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.dialog-window {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
    min-width: 20em;
    border: 5px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    background: var(--background);
}

.dialog-window > label[class~=close]{
    justify-self: end;
    margin: 0;
}

input[logic]+label+*, input[logic], input[logic]+:not(label){
    /*transform: translateY(-100%);*/
    /*transform-origin: top;*/
    display: none;
    transition: 1s;
}

input[logic]:checked+label+*, input[logic]:checked+:not(label) {
    transform: translateY(0);
    display: grid;
    pointer-events: all;
}

input[logic][type=radio] + label {
    border: 5px solid var(--additional);
    border-radius: 10px;
    padding: 15px;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    align-items: center;
}

input[logic][type=radio] + label:before {
    content: "";
    display: block;
    border-style: solid;
    height: 2em;
    max-width: 2em;
    border-radius: 2em;
    border-width: 5px;
}

input[logic][type=radio]:checked + label {
    border-color: var(--highlight);
}

input[logic][type=radio]:checked + label:before {
    border-width: 0.65em;
    border-color: var(--highlight);
}
/*endregion*/
