:root {
    --background: #1A1A1D;
    --background2: rgb(16, 16, 16);
    --highlight: #C3073F;
    --highlight-max: #ff004b;
    --default: white;
    /*--additional: #4e4e50;*/
    --additional: rgb(189, 189, 192);
    --border-color: #950740;
    --spare: #6F2232;
    --file-color: #1c967d;
    --dir-color: #005398;
    --font-size: 1.33em;
}