<!DOCTYPE html>
<html lang="en" class="global-menu-variables">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/new/bars.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/new/vars.min.css' %}">
    {#    <link rel="stylesheet" type="text/css" href="../static/css/bars.min.css">#}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block header %}

    {% endblock %}
</head>
<body>
{% if global_form %}
    <form method="{{ global_form.method }}" action="{{ global_form.action }}" id="global-form">
{% endif %}
<div class="global-fixed">
    <nav class="global-fixed-menu">
        {% block global_left_space %}
            <aside></aside>
        {% endblock %}
        <span class="global-menu-themes">
            {% if page_type == "themes" %}
                <p><strong>Themes</strong></p>
            {% elif page_type == "theme" %}
                <p><a href="/t/">Themes</a><b> / </b><strong>{{ theme.name }}</strong></p>
            {% elif theme %}
                <p><a href="/t/">Themes</a><b> / </b><a href="/t/{{ theme.id }}">{{ theme.name }}</a></p>
            {% else %}
            <a href="/t/">Themes</a>
            {% endif %}
            </span>
        <span></span>
        <span class="global-menu-projects">
                {% if page_type == "projects" %}
                    <p><strong>Projects</strong></p>
                {% elif page_type == "project" %}
                    <p><a href="/p/">Projects</a><b> / </b><strong>{{ project.name }}</strong></p>
                {% elif project %}
                    <p><a href="/p/">Projects</a><b> / </b><a href="/p/{{ project.id }}">{{ project.name }}</a></p>
                {% else %}
                    <a href="/p/">Projects</a>
                {% endif %}
            </span>
        <span></span>
        <span class="global-menu-user">
                {% if page_type == "user" %}
                    <p><strong>{{ current_user }}</strong></p>
                {% elif request.user.id != None %}
                    <p><a href="/u/logout">...</a><b> / </b><a href="/u/{{ request.user.id }}">{{ request.user.username }}</a></p>
                {% elif page_type == "login" %}
                    <p><strong>Log in</strong> <b>or</b> <a href="/u/register">Sign up</a></p>
                {% elif page_type == "register" %}
                    <p><a href="/u/login">Log in</a> or <strong>Sign up</strong></p>
                {% else %}
                    <p><a href="/u/login">Log in</a> or <a href="/u/register">Sign up</a></p>
                {% endif %}
            </span>
        {% block global_right_space %}
            <aside></aside>
        {% endblock %}
    </nav>
    <div id="global-left-panel">
        {% block global_left_menu %}
        {% endblock %}
    </div>
    <div id="global-middle">
        {% block global_middle_menu %}
        {% endblock %}
    </div>
    <div id="global-right-panel">
        {% block global_right_menu %}
        {% endblock %}
    </div>
</div>
<div class="global-grid">

    <header class="global-header"></header>
    <main class="global-main">
        {% block main %}
        {% endblock %}
    </main>
    <footer class="global-footer">

    </footer>
</div>
{% if global_form %}
    </form>
{% endif %}
</body>
</html>