<!DOCTYPE html>
<html lang="en" class="dark-theme">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/start-style.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/themes.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/for-forms.min.css' %}">
    <!--    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">-->
</head>
<body>
<div class="float-menu navbar-fixed-top"></div>
<div class="search-block">
    <form class="search-control" method="post"> {% csrf_token %}
        <input class="glyphicon-search form-control search-input" type="search"
               placeholder="Search" aria-label="Search"
               id="search-bar">
        <input class="search-submit btn-default form-control" value="Go!"
               type="submit">
    </form>
    <div class="sign-control btn-group-lg ">
        <label class="btn btn-primary" for="bt-login">Log in</label>

        <label class="btn btn-primary" for="bt-register">Register</label>
    </div>
</div>
<div class="float-menu navbar-fixed-bottom">
</div>

<!--<div>-->
<input type="checkbox" id="bt-login" class="for-form" {{ login_checked }}>
<div class="back-form">
    {% include "defaultform.html" with form=login_form action=login_action title=login_title close="bt-login" %}
</div>
<input type="checkbox" id="bt-register" class="for-form" {{ register_checked }}>
<div class="back-form">
    {% include "defaultform.html" with form=register_form action=register_action title=register_title close="bt-register" %}
</div>
<!--</div>-->

</body>
</html>