{% extends "bars.html" %}
{% block main %}
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/new/theme-one.min.css' %}">
    <div class="main-grid">
        <header class="main-themes-header">
            <h1>{{ theme.name }}</h1>
            <p>{{ theme.description }}</p>
        </header>
        {% if theme.content %}
        <div class="main-theme-content">
            {{ theme.content }}
        </div>
        {% else %}
        <div style="display: none"></div>
        {% endif %}
        <div class="main-themes-item-settings">
        </div>
        <div class="main-themes-item-container">
            {% for project in projects %}
            <div class="main-theme-item">
                <a href="/p/{{ project.id }}">
                <h4>
                    {{ project.Name }}
                </h4>
                </a>
                {% if project.short_description %}
                <hr>
                <p>
                    {{ project.short_description }}
                </p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}