{% extends "bars.html" %}
{% block main %}
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/projects/project-group.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/new/theme-one.min.css' %}">
    <section class="main-grid">
        <header class="main-themes-header">
            <h1>{{ theme.name }}</h1>
            {% if theme.description %}
            <p>{{ theme.description }}</p>
            {% endif %}
        </header>
        {% if theme.content %}
        <div class="main-theme-content">
            {{ theme.content }}
        </div>
        {% else %}
        <div style="display: none"></div>
        {% endif %}
        <form method="get" class="search-bar" action="/s/project">
            <input name="theme" value="{{ theme.id }}" style="display: none">
        <input class="glyphicon-search form-control search-input" type="search"
               placeholder="Search" aria-label="Search"
               id="search-bar" name="query" value="{{ query }}">
        <input class="search-submit btn-default form-control" value="Go!"
               type="submit">
        </form>
        {% include "projects/project-group.html" %}
{#        <div class="main-themes-item-container">#}
{#            {% for project in projects %}#}
{#            <div class="main-theme-item">#}
{#                <a href="/p/{{ project.id }}">#}
{#                <h4>#}
{#                    {{ project.name }}#}
{#                </h4>#}
{#                </a>#}
{#                {% if project.short_description %}#}
{#                <hr>#}
{#                <p>#}
{#                    {{ project.short_description }}#}
{#                </p>#}
{#                {% endif %}#}
{#            </div>#}
{#            {% endfor %}#}
{#        </div>#}
    </section>
{% endblock %}